<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Crear Trabajo</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <header>
            <div class="logo">Conecta <span style="color:#00e5ff;">Empleo</span></div>
        </header>

        <div class="container">
            <h2>📌 Publicar nuevo empleo</h2>
            <form th:action="@{/trabajo/crear}" th:object="${trabajo}" method="post">
                <label>Título:</label>
                <input type="text" th:field="*{titulo}" required>

                <label>Descripción:</label>
                <textarea th:field="*{descripcion}" required></textarea>

                <label>Categoría:</label>
                <input type="text" th:field="*{categoria}" required>

                <label>Ubicación:</label>
                <input type="text" th:field="*{ubicacion}" required>

                <button class="cta" type="submit">Crear Trabajo</button>
            </form>
        </div>
    </body>
</html>
